In [1]:
import numpy as np
import pandas as pd

In [44]:
data = pd.read_csv('/content/Sales_add (1).csv')

In [45]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [4]:
data.shape

(22, 5)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [6]:
data.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

a.

In [30]:
before_digital_marketing = data['Sales_before_digital_add(in $)']

In [31]:
before_digital_marketing

0     132921
1     149559
2     146278
3     152167
4     159525
5     137163
6     130625
7     131140
8     171259
9     141956
10    159339
11    178939
12    145062
13    151514
14    147463
15    177195
16    140862
17    167996
18    132135
19    152493
20    147425
21    130263
Name: Sales_before_digital_add(in $), dtype: int64

In [32]:
after_digital_marketing = data['Sales_After_digital_add(in $)']

In [33]:
after_digital_marketing

0     270390
1     223334
2     244243
3     231808
4     258402
5     256948
6     222106
7     230637
8     226261
9     193735
10    203175
11    276279
12    205180
13    253131
14    229336
15    187305
16    234908
17    191517
18    227040
19    212579
20    263388
21    243020
Name: Sales_After_digital_add(in $), dtype: int64

In [19]:
import statistics as stat

In [25]:
from scipy.stats import ttest_rel

In [35]:
t_stat,p_value = ttest_rel(before_digital_marketing, after_digital_marketing)

In [36]:
p_value

6.336667004575778e-11

In [37]:
if p_value<0.05:
  print('Reject Null Hypothesis')
else:
    print('Failed to Reject Null Hypothesis')

Reject Null Hypothesis

b.

In [39]:
from scipy.stats import chi2_contingency

In [47]:
contingency_table = pd.crosstab(data['Region'], data['Manager'])

In [48]:
chi2stat,p_value,dof,exp = chi2_contingency(contingency_table)

In [49]:
p_value

0.5493991051158094

In [50]:
if p_value<0.05:
  print('Reject Null Hypothesis')
else:
    print('Failed to Reject Null Hypothesis')

Failed to Reject Null Hypothesis