1.

In [ ]:
def area_of_circle(r):
  area = 3.14 * r**2
  return area

rad = int(input("Enter the radius: "))
result = area_of_circle(rad)

print(f"Area of the circle with radius {rad} is {result}.")

Enter the radius: 4
Area of the circle with radius 4 is 50.24.

2.

In [ ]:
name = input("Enter the Name: ")

roll_no = int(input("Enter the Roll No: "))

mark = int(input("Enter the Mark: "))

print("Name: " ,name,)
print("Roll No: " ,roll_no,)
print("Mark: " ,mark,)

Enter the Name: Manjusha
Enter the Roll No: 21
Enter the Mark: 82
Name:  Manjusha
Roll No:  21
Mark:  82

3.

In [ ]:
def largest_number(n):
  largest_number = max(n)
  return largest_number

num_list = [12,34,65,78,24,77]
result = largest_number(num_list)

print(f"The largest number in the list is : {result}")

The largest number in the list is : 78

4.

In [4]:
for current_number in range(1, 11):
  previous_number = current_number - 1 if current_number > 1 else 0

  current_sum = current_number + previous_number

  print(f"{current_sum}")

1
3
5
7
9
11
13
15
17
19

5.

In [9]:
def divisible_of_5(num):
   return [n for n in num if n % 5 == 0]


num_list = [25,57,85,99,20,18,19,60]
result = divisible_of_5(num_list)

print(result)

[25, 85, 20, 60]

6.

In [11]:
def prime_or_not(num):
  if num <= 1:
    return False
  for i in range(2, int(num**0.5) + 1):
    if num % i == 0:
      return False
  return True

n = int(input("Enter a number: "))
if prime_or_not(n):
  print(f"{n} is a prime number.")
else:
  print(f"{n} is not a prime number.")

Enter a number: 3
3 is a prime number.

7.

In [12]:
original_list = [10,11,12,13,14,15]

reversed_list = []
for item in reversed(original_list):
  reversed_list.append(item)

print("Original list:",original_list)
print("Reversed_list:",reversed_list)

Original list: [10, 11, 12, 13, 14, 15]
Reversed_list: [15, 14, 13, 12, 11, 10]

8.

In [14]:
def py_pattern(n):
  for i in range(1, n + 1):
    print('*' * i)

num = 4
py_pattern(4)

*
**
***
****

9.

In [16]:
a,b,c = input("Enter three numbers: ").split(",")

maximum = max(a,b,c)

print(f"Maximum of three numbers is",maximum)

Enter three numbers: 5,7,9
Maximum of three numbers is 9

10.

In [17]:
def py_pattern(n):
  for i in range(1, n + 1):
    print('*' * i)
  for i in range(n - 1, 0, -1):
    print('*' * i)

num = 5
py_pattern(5)

*
**
***
****
*****
****
***
**
*

Python challenge1

In [18]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")

print(f"Hello {first_name} {last_name}! You just delved into python.")

Enter your first name: MS
Enter your last name: Dhoni
Hello MS Dhoni! You just delved into python.