In [ ]:
#Practice problems 2

1.

In [ ]:
def count_characters(string):
  char_count = {}

  for char in string:
    char_count[char] = char_count.get(char, 0)
    return char_count

user_input = input("Enter a string: ")

result = count_characters(user_input)


for char, count in result.items():
  print(f"{char} = {count}")

Enter a string: python
p = 0

2.

In [ ]:
a,b,c = input("Enter three numbers: ").split(",")

maximum = max(a,b,c)

print(maximum)

Enter three numbers: 24,26,28
28

3.

In [ ]:
def exponent(base,exp):
  result = base ** exp
  return result

b = int(input("Enter a number: "))
e = int(input("Enter a number: "))

result = exponent(b,e)
print(result)

Enter a number: 2
Enter a number: 5
32

4.

In [ ]:
def sum_of_cubes(n):
  if n <= 0:
    return "Please enter a positive number"

  sum_result = sum(i**3 for i in range(1, n))
  return sum_result

num = int(input("Enter a positive integer: "))
result = sum_of_cubes(num)

print(result)

Enter a positive integer: 4
36

5.

In [1]:
def multiple(n):
    for i in range(n):
        if i % 2 == 0:
          print("Fizz")
        elif i % 5 == 0:
          print("Buzz")
        elif i % 2 and i % 5:
          print("FizzBuzz")
        else:
          print("Invalid number")


num = int(input("Enter a number: "))

result = multiple(num)
print(result)

Enter a number: 2
Fizz
FizzBuzz
None

6.

In [ ]:
def most_frequent_item(n):
  if not n:
    return "The list is empty."

  count_dict = {}
  for number in n:
    count_dict[number] = count_dict.get(number, 0) + 1

7.

In [2]:
def sum_of_squares(n):
  return sum(x**2 for x in n)

num_list = [2,2,3,4,5]
result = sum_of_squares(num_list)

print(f"The sum of squares of numbers in the list is: {result}")

The sum of squares of numbers in the list is: 58

8.

In [ ]:
for i in range(1, 16):
  if i % 2 == 0:
    print(f"{i}-Even")
  else:
    print(f"{i}-Odd")

1-Odd
2-Even
3-Odd
4-Even
5-Odd
6-Even
7-Odd
8-Even
9-Odd
10-Even
11-Odd
12-Even
13-Odd
14-Even
15-Odd

9.

In [ ]:
def celsius_to_fahrenheit(celsius):
  return (celsius * 9/5) + 32

def fahrenheit_to_celsius(fahrenheit):
  return (fahrenheit - 32) * 5/9

choice = input("Choose conversion (C to F or F to C): ")

if choice == "C":
  celsius_value = float(input("Enter temperature in celsius: "))
  result = celsius_to_fahrenheit(celsius_value)
  print(result)

elif choice == "F":
  fahrenheit_value = float(input("Enter temperature in fahrenheit: "))
  result = fahrenheit_to_celsius(fahrenheit_value)
  print(result)

else:
  print("Invalid choice. Please choose 'C' or 'F'")

Choose conversion (C to F or F to C): F
Enter temperature in fahrenheit: 45
7.222222222222222

10.

In [ ]:
def factorial_of_number(n):
  if n == 0 or n == 1:
    return 1
  else:
    return n * factorial_of_number(n-1)

number = int(input("Enter a number: "))
result = factorial_of_number(number)

print(result)

Enter a number: 5
120

python challenge 2:

In [12]:
def even_odd(n):
  if n == 1:
     print("Weird")
  elif n % 2 == 0 and range(2 ,5):
     print("Not Weird")
  elif n % 2 == 0 and range(6 ,20):
     print("Weird")
  else:
    if n % 2 == 0  and n > 20:
     print("Not Weird")